<!--HTML file for Home Page


<h1>Sample App</h1> <!--Sample App Heading (Top Level) -->
<p> <!-- Paragraph tag-
This if the home page for the <!-- Text for paragraph-
<a href="http://railstutorial.org">Ruby on Rails Tutorial<a
> sample application</p> <!--continuation of text for paragraph-
<!-- LINK (anchor) TAG: 
<a href="link/url"> link title </a> -->


<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>




</html>